<html>
  <head>
    <title>modifier un potin</title>
  </head>
  <body>
    <h1>modifier un potin !</h1>
    <p>modifier ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/id/edit/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_author'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>