<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views ! <a href="/gossips/new/">le texte du lien</a></h1>

    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
          <input type="submit" value="voir">
        </p>
      <% end %>


  </body>
</html>